---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1 class="text -4x1 text-red-400">About</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, iusto
    similique vero velit illo fugit iure nulla deleniti delectus optio
    accusantium quisquam rerum distinctio modi cumque. Saepe iusto asperiores
    animi dignissimos veritatis, corrupti dolorem! Maxime quisquam
    necessitatibus aliquam facilis quasi saepe, sequi aliquid voluptas magni
    minus eum laborum praesentium veniam dicta officiis repellendus! Facere
    placeat deserunt quidem consequatur, libero porro inventore nisi, obcaecati
    nobis mollitia facilis veniam nostrum totam necessitatibus sit voluptatum,
    minima quod ipsum eum dicta illum autem eius. Dolorem autem distinctio,
    harum quisquam neque qui earum. Nemo praesentium architecto ex quas mollitia
    eveniet magnam molestias aspernatur! Mollitia, repudiandae?
  </p>
</Layout>
